---
import Events from '@sections/Events.astro';
import Footer from '@sections/Footer.astro';
import Layout from '@/Layout.astro';
import Navbar from '@sections/Navbar.astro';

export const prerender = false;
---

<Layout
    description="Upcoming business English events in Shanghai. Negotiation, executive presence, written communication, and more. Beginner to advanced."
    title={'Events \u2014 InterSub'}
>
    <Navbar />
    <main class="flex flex-col flex-1">
        <Events />
    </main>
    <Footer />
</Layout>
