---
import Footer from '@sections/Footer.astro';
import Layout from '@/Layout.astro';
import Navbar from '@sections/Navbar.astro';
import Seminars from '@sections/Seminars.astro';

export const prerender = false;
---

<Layout
    description="Upcoming business English events in Shanghai. Negotiation, executive presence, written communication, and more. Beginner to advanced."
    title="Events | InterSub"
>
    <Navbar />
    <main class="flex flex-col flex-1">
        <Seminars />
    </main>
    <Footer />
</Layout>
